<!--  common menu -->
<div id='headerbox'>
  <!-- see https://cdn.materialdesignicons.com/1.1.34/ for possible icons-->
  <!-- home --><a
    href='/chess/home'
    title='Home'>
    <i class='mdi mdi-home headerboxicon'></i>
  </a>
  <!-- github --><a
    href='https://github.com/WolfgangFahl/play-chess-with-a-webcam'
    title='Play Chess with a WebCam on GitHub'>
    <i class='mdi mdi-github-box headerboxicon'></i>
  </a>
  <!-- wiki -->
  <a
    href='http://wiki.bitplan.com/index.php/PlayChessWithAWebCam'
    title='Play Chess with a WebCam Wiki Page'>
    <i class='mdi mdi-file-document headerboxicon'></i>
  </a>
  <!-- still picture -->
  <a
    href='/chess/photo'
    title='take still picture'>
    <i class='mdi mdi-camera headerboxicon'></i>
  </a>
</div>
