# 2019-10-14 WF
#
# runtime dependencies
#
# https://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_tutorials.html
opencv-python==4.4.0.46
# python-chess
# https://buildmedia.readthedocs.org/media/pdf/python-chess/latest/python-chess.pdf
python-chess==0.29.0
# lichess APIs
# https://github.com/rhgrant10/berserk
berserk==0.3.1
# https://github.com/cyanfish/python-lichess
python-lichess==0.9
# image utils
imutils==0.5.3
# Image Processing in Python - Alternative to opencv e.g. for perspective Transformation
# https://scikit-image.org/
# scikit-image
# web tools
Flask==1.1.1
Flask-RESTful==0.3.9
Flask-AutoIndex==0.6.4
# config and state saving
PyYAML==5.4
# mss https://pypi.org/project/mss/ An ultra fast cross-platform multiple screenshots module in pure python using ctypes.
mss==4.0.3
# PIL Python Image Library fork see https://pillow.readthedocs.io/en/stable/
Pillow==8.2.0
# https://kivy.org Kivy - Open source Python library for rapid development of applications
# that make use of innovative user interfaces, such as multi-touch apps.
# uncommented and not used (yet) due to issues on ubuntu
# kivy
# Json pickle
jsonpickle==1.2
#
# zope interfaces
#
interface==2.11.1
#
# test dependencies
#
# python tests
pytest==6.2.1
# matplotlib
matplotlib==3.3.3
# scipy
scipy==1.5.4
# pytest-cov
pytest-cov==2.8.1
