# 2019-10-14 WF
opencv-python
# python tests
pytest
# matplotlib
matplotlib
# scipy
scipy
# pytest-cov
pytest-cov
# python-chess
python-chess
# web tools
Flask
Flask-RESTful
# config and state saving
PyYAML
# mss https://pypi.org/project/mss/ An ultra fast cross-platform multiple screenshots module in pure python using ctypes.
mss
# PIL Python Image Library fork see https://pillow.readthedocs.io/en/stable/
Pillow
# https://kivy.org Kivy - Open source Python library for rapid development of applications
# that make use of innovative user interfaces, such as multi-touch apps.
kivy
# Json pickle
jsonpickle
