<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <!--  Material Design Lite -->
  <script src="/md/material.min.js"></script>
  <link rel="stylesheet" href="/md/material.min.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!--  Material design icons see https://materialdesignicons.com/getting-started -->
  <link href="/mdi/css/materialdesignicons.min.css" media="all"
  	rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/chessboard/css/chessboard-1.0.0.min.css">
  <link rel="stylesheet" href="/css/webcamchess.css">
  {% include 'js.html'%}
</head>

<body>
