{% include 'header.html' %} {% include 'menu.html' %}
<div id='navigationbox' title='Play Chess With a WebCam'>Play
	Chess With a WebCam</div>
<div class='container-fluid' id='contentbox'>
	<div class='row'>
		<div id='chessboarddiv' class="h-100 col-md-4">
			<br>
			<!-- center the ChessBoard Frame -->
			<div id='chessboardframe' style='margin-left: 20px'>
				<div id='chessboard' style="width: 512px"></div>
			</div>
		</div>
		<div id='chesswebcamdiv' class="col-md-5">
			<br>
			<!-- center the ChessWebCam Frame -->
			<div id='chesswebcamframe'
				style='width: 512px; margin-left: auto; margin-right: auto'>
				<a href='/chess/chesswebcamclick/512/512'> <img id='chesswebcam'
					width='512' height='512' src='/video#{{timeStamp}}' ismap />
				</a>
			</div>
		</div>
		<!-- game notation -->
		<div id='notation' class="col-md-3">
			<form id='settingsform' action='/chess/settings' method='GET'>
		       <select id='detector' name="detector">
		         {% for name in detectors.keys() %}
		         <option value="{{ name }}" {% if (detector is not none) and (name == detector.name) %}selected{% endif %}>
		         {{ name }}
		         </option>
		         {% endfor %}
		       </select>
		       <button id="changeDetector" type="submit" value="changeDetector"
					name="changeDetector">change Detector</button>
		     </form>   
			<form action='/chess/gamecolors'>
				<input type="color" name="WHITE_FIELD" value="#ffffff"> <input
					type="color" name="BLACK_FIELD" value="#000000"> <input
					type="color" name="WHITE_PIECE" value="#ffffff"> <label
					for="WHITE_PIECE">♖♘</label> <input type="color" name="BLACK_PIECE"
					value="#000000"> <label for="BLACK_PIECE">♞♜</label>
				<button id="updateGameColors" type="submit" value="updateGameColors"
					name="updateGameColors">Update Colors</button>
			</form>

			<form action='/chess/update' method='GET'>
				<div class="form-group">
					<label for='gameid' id='gameidlabel' class="col-lg-2 control-label"><a
						href='/chess/games/{{gameid}}'>Game:</a></label> <input type='text'
						id='gameid' size='30' name='gameid' value='{{gameid}}'
						readonly='readonly' />
				</div>
				<div class="form-group">
					<label for='fen' class="col-lg-2 control-label">FEN:</label>
					<textarea id='fen' name='fen' cols='30' rows='2'></textarea>
					<button id="updateFen" type="submit" value="updateFEN"
						name="updateFEN">Update FEN</button>
				</div>
				<details id="fendetails">
					<summary>browser</summary>
					<div class="form-group">
						<label for='boardfen' class="col-lg-2 control-label">board
							FEN:</label>
						<textarea id='boardfen' name='boardfen' cols='30' rows='2'
							readonly='readonly'></textarea>
					</div>
					<div class="form-group">
						<label for='gamefen' class="col-lg-2 control-label">game
							FEN:</label>
						<textarea id='gamefen' name='gamefen' cols='30' rows='2'
							readonly='readonly'></textarea>
					</div>
				</details>
				<div class="form-group">
					<label for='pgn' class="col-lg-2 control-label"> <a
						href='/chess/games/{{gameid}}/{{gameid}}.pgn'>server pgn:</a>
					</label>
					<textarea id='pgn' name="pgn" cols='30' rows='10'></textarea>
					<button id="updateGame" type="submit" value="updateGame"
						name="updateGame">Update Game</button>
				</div>
				<details id='pgndetails'>
					<summary>browser</summary>
					<div class="form-group">
						<label for='pgn' class="col-lg-2 control-label">client
							pgn:</label>
						<textarea id='clientpgn' name="clientpgn" cols='30' rows='10'
							readonly='readonly'></textarea>
					</div>
				</details>
				<div class="form-group">
					<label for='move' class="col-lg-2 control-label">Move:</label> <input
						type='text' id='move' size='5' name='move'></input>
					<button id="updateMove" type="submit" value="updateMove"
						name="updateMove">Move</button>
				</div>
				<div id='eventtarget'>
				</div>
			</form>
		</div>
	</div>
	<script>
		addServerSideEventHandler()
		// handle the url query Parameters
		handleQuery();
	</script>
</div>
{% include 'footer.html' %}
