
	<!--  common menu -->
	<div id='headerbox'>
	  <!-- see https://cdn.materialdesignicons.com/1.1.34/ for possible icons-->
	  <!-- home --><a
	    href='/chess/home'
	    title='Home'>
	    <i class='mdi mdi-home headerboxicon'></i>
	  </a>
	  <!-- github --><a
	    href='https://github.com/WolfgangFahl/play-chess-with-a-webcam'
	    title='Play Chess with a WebCam on GitHub'>
	    <i class='mdi mdi-github-box headerboxicon'></i>
	  </a>
	  <!-- wiki -->
	  <a
	    href='http://wiki.bitplan.com/index.php/PlayChessWithAWebCam'
	    title='Play Chess with a WebCam Wiki Page'>
	    <i class='mdi mdi-file-document headerboxicon'></i>
	  </a>
	  <!-- save game -->
	  <a
	    href='/chess/save'
	    title='save game state'>
	    <i class='mdi mdi-content-save headerboxicon'></i>
	  </a>
	  <!-- game folder -->
	  <a
	    href='/chess/games'
	    title='show games folder'>
	    <i class='mdi mdi-folder headerboxicon'></i>
	  </a>
	  <!-- record video -->
	  <a
	    href='/chess/recordvideo'
	    title='record video'>
	    <i class='mdi mdi-video headerboxicon'></i>
	  </a>
	  <!-- still picture -->
	  <a
	    href='/chess/photo'
	    title='take still picture'>
	    <i class='mdi mdi-camera headerboxicon'></i>
	  </a>
	  <!-- debug -->
	  <a
	    href='/chess/debug'
	    title='toggle debug mode'>
	    <i class='mdi mdi-bug headerboxicon'></i>
	  </a>
	  <!-- findboard -->
	  <a
	    href='/chess/findboard'
	    title='auto find chessboard'>
	    <i class='mdi mdi-crop headerboxicon'></i>
	  </a>
	  <!-- take move back -->
	  <a
	    href='/chess/takeback'
	    title='take move back'>
	    <i class='mdi mdi-chevron-left headerboxicon'></i>
	  </a>
	  <!-- forward a move -->
	  <a
	    href='/chess/forward'
	    title='forward a move'>
	    <i class='mdi mdi-chevron-right headerboxicon'></i>
	  </a>
	  <!-- rotate video -->
	  <a
	    href='/chess/rotatevideo90'
	    title='rotate the video by 90 degrees'>
	    <i class='mdi mdi-rotate-right headerboxicon'></i>
	  </a>
	  <!-- pause the video playback -->
	  <a
	    href='/chess/pausevideo'
	    title='pause video playback'>
	    <i class='mdi mdi-play-pause headerboxicon'></i>
	  </a>
	   <!-- settings -->
	  <a
	    href='/chess/settings'
	    title='settings'>
	    <i class='mdi mdi-settings headerboxicon'></i>
	  </a>
	  
	</div>
